body {
    background-color: black;
    color:white
}

p {
    padding: 0;
    margin: 0;
}

header{background-color:blue; grid-area: gh; display: flex;}

main{background-color: aqua; grid-area: gm}

aside{background-color: rgb(255, 0, 30); grid-area: ga}

.grid-container {
    display: grid;
    background-color: gainsboro;
    max-width: 400px;
    margin-bottom: 14px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px auto;
    grid-template-areas: "gh gh gh gh gh gh"
    "gm gm gm gm ga ga";
}

.content-actual {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: aquamarine;
    width: 100%;
}